
<pc-accordion>
	<accordion-item>
		<accordion-title>1.Write a Program for  adding of  two Integers?</accordion-title>
		<accordion-content>

<section>  
    <div id="DatatypesEx1" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'preview',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:400px;border-radius:10px;">class DatatypesEx1 {
	int a = 15000;
	int b = -20000;

	void add() {
		int c = a + b;
		System.out.println("The integer Value is:" + c);
	}
}

 public class Test {
	public static void main(String args[]) {
		DatatypesEx1 datatypesobj = new DatatypesEx1();
		datatypesobj.add();
	}
}	
</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('DatatypesEx1','preview1','java' )">Run</button>
	<div>
        <iframe id="preview1"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>
	
	<accordion-item>
		<accordion-title>2.Write a Program for adding of Characters ?</accordion-title>
		<accordion-content>
<section>  
    <div id="CharExample" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'preview',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:400px;border-radius:10px;">class CharExample {
	char a = 'P';
	char b = 'I';
	char c = 'O';
	char d = 'N';
	char e = 'E';
	char f = 'E';
	char g = 'R';
	char h = 'C';
	char i = 'O';
	char j = 'D';
	char k = 'E';
	char l = 'R';
	char m = 'S';

	void join() {
		System.out.println("The Characters Value is : " + a + b + c + d + e + f
				+ g + h + i + j + k + l + m);
	}
}

public class Test {
	public static void main(String args[]) {
		CharExample charobj = new CharExample();
		charobj.join();
	}
}	
</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('CharExample','preview2','java' )">Run</button>
	<div>
        <iframe id="preview2"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>

<accordion-item>
		<accordion-title>3.Write a Program for adding of two Long variables ?</accordion-title>
		<accordion-content>

<section>  
    <div id="DateTypeLongEx1" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'preview',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:400px;border-radius:10px;">class DateTypeLongEx1 {
	long a = 100L;
	long b = -200L;

	void add() {
		long c = a + b;
		System.out.println("The Long Value is:" + c);
	}
}

public class Test {
	public static void main(String args[]) {
		DateTypeLongEx1 longobj = new DateTypeLongEx1();
		longobj.add();
	}
}	
</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('DateTypeLongEx1','preview3','java' )">Run</button>
	<div>
        <iframe id="preview3"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>	
	<accordion-item>
		<accordion-title>4.Write a program to check boolean value ?</accordion-title>
		<accordion-content>

<section>  
    <div id="BooleanEx" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'preview',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:400px;border-radius:10px;">class BooleanEx {
	boolean a = true;

	void check() {
		if (a == true) {
			a = false;
			System.out.println("The Boolean Value is:" + a);
		}
	}
}

public class Test {
	public static void main(String args[]) {
		BooleanEx booleanobj = new BooleanEx();
		booleanobj.check();
	}
}	
</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('BooleanEx','preview4','java' )">Run</button>
	<div>
        <iframe id="preview4"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>	
	<accordion-item>
		<accordion-title>5.Write a Program for adding of two Float values ?</accordion-title>
		<accordion-content>

<section>  
    <div id="DateTypeFloatEx1" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'preview',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:400px;border-radius:10px;">class DateTypeFloatEx1 {
	float a = 100.0f;
	float b = -200.0f;

	void add() {
		float c = a + b;
		System.out.println("The Float Value is:" + c);
	}
}

public class Data {
	public static void main(String args[]) {
		DateTypeFloatEx1 floatobj = new DateTypeFloatEx1();
		floatobj.add();
	}
}	
</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('DateTypeFloatEx1','preview5','java' )">Run</button>
	<div>
        <iframe id="preview5"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>		
</pc-accordion>
