<pc-accordion>
	
	<accordion-item>
		<accordion-title>Example program using finally keyword</accordion-title>
		<accordion-content>

<section>  
    <div id="TestFinallyBlock" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'finally2',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:250px;border-radius:10px;">class TestFinallyBlock {  
  public static void main(String args[]){  
  try{  
   int data=25/5;  
   System.out.println(data);  
  }  
  catch(NullPointerException e){System.out.println(e);}  
  finally{System.out.println("finally block is always executed");}  
  System.out.println("rest of the code...");  
  }  
}  
	</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('TestFinallyBlock','finally2','java' )">Run</button>
	<div>
        <iframe id="finally2"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>
	
	<accordion-item>
		<accordion-title>Example program using finally keyword with arithmatic Exception</accordion-title>
		<accordion-content>

<section>  
    <div id="Callingfinally" ui-ace ="{useWrapMode: 'true', showGutter : 'true', theme:'monokai', mode: 'java', previewId:'fin2',
		rendererOptions: { fontSize: 16 },
		advanced: { highlightActiveLine: true}
	}" style="min-height:250px;border-radius:10px;">class Callingfinally {
   public static void main(String args[]) {
      try{  
	 int num=121/0;  
	 System.out.println(num);  
      }  
      catch(ArithmeticException e){
         System.out.println("Number should not be divided by zero");
      }  
      /* Finally block will always execute
       * even if there is no exception in try block
       */
      finally{
	 System.out.println("This is finally block");
      }  
      System.out.println("Out of try-catch-finally");  
   }   
}
	</div>
	<button type="button"  class="cws-button border-radius bt-color-3 pull-right runspace" ng-click="runCode('Callingfinally','fin2','java' )">Run</button>
	<div>
        <iframe id="fin2"></iframe>
    </div>
</section>

		</accordion-content>
	</accordion-item>
	
</pc-accordion>

