<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servletcontextproject</display-name>
   <context-param>
    <param-name>jdbc</param-name>
    <param-value>com.mysql.jdbc.driver</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletContextEx</display-name>
    <servlet-name>ServletContextEx</servlet-name>
    <servlet-class>com.pioneercoders.servletcontextexample.ServletContextEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextEx</servlet-name>
    <url-pattern>/ServletContextEx</url-pattern>
  </servlet-mapping>
</web-app>